.BuildAComputer{
    color: #000000;
    background-color: #FFFFFF;
    padding-left: 4px;
    padding-right: 4px;
}
.Title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.BuildAComputer h2 {
    color: blue;
    font-weight: bold;
    text-shadow: #000000;
    text-align: center;
}