.unselectedButton{
    color: white;
}
.correctSelection{
    color: lime;
    font-weight: bold;
}
.incorrectSelection{
    color:red;
    font-weight: bold;
}
.operationPrompt{
    color: white;
    text-align: center;
}
.topLine{
    height: 2px;
    background-color: black;
    margin-bottom: 3px;
}
.hiddenButton{
    opacity: 0;
}
.nextButton{
    font-weight: bold;
}
.correctPrompt{
    font-size: 12px;
    
}
.hiddenPrompt{
    opacity: 0;
    height: 0;
}
.prompt{
    padding-bottom: 20px;;
}
.buttonsRow button {
    padding: 8px;
}
.startButton {
    border-color: white;
    border-width: 1px;
    text-align: center;
    border-radius: 3px;
    margin-top: 5px;
}